.error {
	color: red;
	font-style: italic;	
}

.container {
    width: 25%;
    background-color: lightblue;
    padding: 70px;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
}

body  
{  
    margin: 0;  
    padding: 0;  
    background: url(../images/background.jpg);
    font-family: 'Arial';  
} 
 
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 60px;  
        background: #23463f;  
        border-radius: 15px ;  
        
}  

h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 
 
label{ 
	margin-bottom: 25px;
    display: block;
    color: darkcyan;
    font-size: 17px;  
} 
 
.uname {  
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-left: 16px;
    margin-bottom: 20px;
}

.pass {  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    margin-left: 16px;
    margin-bottom: 30px;      
}  

.btn{  
    width: 320px;
    height: 40px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: white;
    background: gray;
    font-size: 17px;
}
  
span{  
    color: white;  
    font-size: 17px;  
}
  
a{  
    float: right;  
    background-color: grey;  
}  