@charset "ISO-8859-1";

.tx-bar{
	background: #b4c3ca;
    padding: 4%;
    border-radius: 10px;
}

.tx-head{
	font-size: 25px;
    font-weight: 900;
    padding-bottom: 1%;
}

.tx-body table{
	width: 100%;
    line-height: 1.9;
}

.tx-body table th{
	text-align: left;
}
